/* Reset
-------------------------------------------------------------- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}
table{border-collapse:separate;border-spacing:0;margin-bottom:1.4em;}
caption,th,td{text-align:left;font-weight:400;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:;}
a img{border:none;}

/* Page
-------------------------------------------------------------- */
body {
    color: #2a4f54;
    text-align: center;
    background-color: #4a8d97;
    background-image: url(./images/grunge.jpg);
}
#container {
    margin: 0px auto 35px;
    width:660px;
    padding-top: 60px;
}
.main {
    font-family: "LeagueGothicRegular", Impact, Charcoal, sans-serif;
    text-transform: uppercase;
    line-height: .9;
}
.explanation {
    margin-top: 20px;
    font: italic 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a { 
    color: #2a4f54;
    text-decoration: none;
    -webkit-transition: color .6s linear;
}
a:hover { 
    color: #fff; 
    -webkit-transition: color .1s linear;
}


@font-face {
    font-family: 'LeagueGothicRegular'; 
    src: local('League Gothic Regular'), url('League Gothic.otf') format('opentype');
}


.name {
    font-size: 50px;
}
.dev {
    font-size: 206px;
    letter-spacing: 5px;
    line-height: 1;
}
.itworked {
    font: italic 60px/0 cursive;
    text-transform: lowercase;
    margin-bottom: 12px;
    margin-top:12px;
}
.hoo {
    font-size: 258px;
    letter-spacing: 5px;
    line-height: 1;
}
.view {
    font-size: 57px;
    margin-top: -15px;
}
.hoo, .css {
    text-shadow: #4a8d97 3px 3px 0;
}


.line-left, .line-right {
    border-bottom: 2px solid #2a4f54;
    width: 160px;
    display: inline-block;
    margin-bottom: -30px;
}
.line-left {
    float: left;
    margin-top: 28px;
    margin-left: 15px;
}
.line-right {
    float: right;
    margin-top: -26px;
    margin-right: 15px;
}
