/* Reset
-------------------------------------------------------------- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}
table{border-collapse:separate;border-spacing:0;margin-bottom:1.4em;}
caption,th,td{text-align:left;font-weight:400;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:;}
a img{border:none;}

/* Page
-------------------------------------------------------------- */
body {
    background: white;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    text-shadow: #DFDFDF 1px 1px 0;
}   

a { color: #36B; text-decoration: none; }
a:hover { text-decoration: underline; }

#container {
    margin: 10px auto;
    padding: 0;
    width: 400px;
}
#header {
    margin-top: 140px;
    width: 400px;
}
#header .avatar {
    border: 1px solid #DFDFDF;
    float: left;
    margin-right: 15px;
    padding: 5px;
}
#header .avatar:hover {
    border: 1px solid #CCC;

    box-shadow: 1px 1px 5px #999;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
}
#header .name {
    font-size: 28px;
    letter-spacing: -1px;
    padding-top: 5px;
}
#header .dev {
    color: #C00;
    font-size: 18px;
    margin-bottom: 5px;
}

#projects {
    list-style: none;
    margin: 25px auto;
}
#projects li {
    border-top: 1px solid #EFEFEF;
    padding: 15px;
}
#projects .first { 
    border: none;
}
