/* Reset
-------------------------------------------------------------- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}
table{border-collapse:separate;border-spacing:0;margin-bottom:1.4em;}
caption,th,td{text-align:left;font-weight:400;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:;}
a img{border:none;}

/* Page
-------------------------------------------------------------- */
body {
    background: #FAFAFA;
    background:    -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .15)), color-stop(.75, transparent))
    font-family: "minion-pro-1","minion-pro-2", "Times New Roman", Georgia, serif;
    text-align: center;
    text-shadow: white 1px 1px 0;
}   

#container {
    margin: 0px auto 35px;
    width:825px;
    padding-top: 60px;
}

#main {
    line-height: .9;
}

#footer {
    clear: both;
    color: #666;
    font: 13.34px helvetica,arial,freesans,clean,sans-serif;
    margin-top: 15px;
}


#projects a {
    background: white;
    background: -moz-gradient(linear, left top, left bottom, from(white), to(#E8E8E8)) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#E8E8E8)) !important;
    border: 1px solid #CCC;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 5px #FFF;
    -moz-box-shadow: 0 0 5px #FFF;
    -webkit-box-shadow: 0 0 5px #FFF;
    color: #369;
    font: 13.34px helvetica,arial,freesans,clean,sans-serif;
    font-weight: bold;
    float: left;
    margin: 15px 20px 5px 0;
    padding: 20px 10px 10px;
    text-decoration: none;
    width: 160px;
}
#projects a:hover { 
    background: -moz-gradient(linear, left bottom, left top, from(white), to(#E8E8E8)) !important;
    background: -webkit-gradient(linear, left bottom, left top, from(white), to(#E8E8E8)) !important;
    color: #222; 
    -webkit-transition: all .1s ease-out;
}

#footer, #footer a {
    color: #888;
    text-decoration: none;
}

#footer {
    margin-top: 45px;
}
#footer a {
    margin: 0 10px;
}
#footer a:hover {
    color: #000;
}

.name {
    font-size: 78px;
    letter-spacing: -2px;
}
.dev {
    color: #C00;
    font-size: 24px;
    letter-spacing: 5px;
    line-height: 1;
    margin-bottom:45px;
    text-transform: uppercase;
}
